.button-icon {
    border-radius: 4px;
    border: 2px solid var(--purple);
    padding: 10px;
    background: var(--white);
    text-decoration: none;
    display: inline-block;
}
.button-icon img{
    vertical-align: middle;
}
.button-icon.is-secondary{
    color: var(--purple);
    border-radius: initial;
    border:initial;
    padding: 16px;
    background: initial;
    text-decoration: none;
    display: inline-block;
    font-size: 85px;
}